.storyboard {
    width: 50%;
}

.storytext {
    width: 30%;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.storyboard img {
    width: 100%;
    mix-blend-mode: multiply;
}

.flex-sb.hidden {
    display: none;
}

.flex-sb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.cont-flex-sb {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    isolation: isolate;
}

.cont-flex-sb.right {
    transform: translateX(-50%);
}

html {
    overflow-x: hidden;
}

.sb-btn-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.sb-btn-bg {
    margin: auto;
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    gap: 20px;
    padding: 10px 15px;
    height: fit-content;
    position: relative;
    cursor: pointer;
}

.sb-btn {
    z-index: 2;
    cursor: pointer;
}

div.placement {
    position: absolute;
    top: 4px;
    left: 5px;
    width: calc(50% - 5px);
    height: calc(100% - 8px);
    background-color: yellow; /* The color of the "selected" area */
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

div.placement.right {
    transform: translateX(100%);
}

dialog img {
    max-width: 70%;
}

button {
    background-color: var(--color-text-primary);
    color: var(--color-main-bg);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: flex-start;
}